<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Ubicación</ion-label>
    <ion-input [(ngModel)]="ubicacion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Notas</ion-label>
    <ion-textarea [(ngModel)]="notas"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Repetir</ion-label>
    <ion-select [(ngModel)]="repetir">
      <ion-select-option value="nunca">Nunca</ion-select-option>
      <ion-select-option value="diario">Diario</ion-select-option>
      <ion-select-option value="semanal">Semanal</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Hora Inicio</ion-label>
    <ion-datetime
      presentation="time"
      displayFormat="h:mm a"
      [(ngModel)]="horaInicio"
      hourCycle="h12"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora Fin</ion-label>
    <ion-datetime
      presentation="time"
      displayFormat="h:mm a"
      [(ngModel)]="horaFin"
      hourCycle="h12"
    ></ion-datetime>
  </ion-item>

  <ion-button
    expand="full"
    style="--background: #6a61cc; --background-activated: #5a52b2; --color: #fff;"
    (click)="guardar()"
  >
    Guardar
  </ion-button>

  <ion-button expand="full" color="medium" (click)="cancelar()">
    Cancelar
  </ion-button>
</ion-content>
