ion-item {
  margin-bottom: 10px;
}

ion-button {
  margin-top: 20px;
}

ion-toolbar {
  --background: #6980d3;
  --color: white;
}

ion-title {
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.custom-back-button {
  color: white !important;
}


