ion-item {
  margin-bottom: 10px;
}

ion-button {
  margin-top: 20px;
}

ion-toolbar {
  --background: #6980d3;
  --color: white;
}

ion-title {
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.custom-back-button {
  color: white !important;
}


/* Asegura que el texto que el usuario escribe sea negro */
ion-item ion-input,
ion-item ion-textarea {
  color: black;
}

/* Forzar el color dentro de los campos nativos del Shadow DOM */
ion-input input,
ion-textarea textarea {
  color: black !important;
}

ion-datetime {
  --background: white;
  --ion-color-step-50: white;
  --ion-color-base: #000; // Color del texto en negro
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

ion-back-button::part(icon) {
  color: white !important;
}



